@font-face {
	font-family: "Open Sans";
	src: url("fonts/OpenSans-Regular.woff2") format("woff2"),
	url("fonts/OpenSans-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans Bold";
	src: url("fonts/OpenSans-Bold.woff2") format("woff2"),
	url("fonts/OpenSans-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Banny";
	src: url("fonts/Banny-Round.woff2") format("woff2"),
	url("fonts/Banny-Round.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

body {
	width: 1440px;
	box-sizing: border-box;
	margin: 0 auto;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.container {
	width: 1280px;
	margin: 0 auto;
}

.yellow-line {
	width: 60px;
	height: 5px;
	background-color: #e8c300;
	border-radius: 5px;
}

.yellow-square {
	position: absolute;
	box-sizing: border-box;
	width: 250px;
	height: 250px;
	border: 20px solid #e8c300;
	border-radius: 5px;
	background-color: transparent;
}

.subtitle {
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}

.title {
	font-family: "Banny", "Arial", sans-serif;
	font-size: 36px;
	line-height: 48px;
	text-transform: uppercase;
	text-align: center;
}

.small-title {
	font-family: "Open Sans Bold";
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

.fas {
	color: #e8c300;
	margin-right: 10px;
	font-size: 14px;
}

.fa-phone, .fa-envelope {
	margin-left: 10px;
}

.fa-phone {
	margin-right: 13px;
}

/*Хэдер*/

.header {
	position: relative;
	height: 800px;
	background-image: url("img/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
}

.header__logo {
	position: absolute;
	left: 44.7%;
	top: 24px;
}

.header__wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 197px;
}

.site-list {
	display: flex;
	list-style: none;
	align-items: center;
	height: 100px;
	margin: 0 80px;
	padding: 0;
}

.site-list__item {
	box-sizing: border-box;
	width: 133px;
	height: 100%;
	line-height: 100px;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-list__item:nth-child(4) {
	margin-right: 218px;
}

.site-list__link {
	padding: 20px;
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.header__main, .header__timing {
	color: #ffffff;
}

.header__main {
	width: 998px;
	margin-top: 0;
	text-align: center;
}

.header__timing {
	position: relative;
	writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	transform: rotate(180deg);
	width: 222px;
	height: 305px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	letter-spacing: 0.3px;
}

.header__timing::after {
	position: absolute;
	content: "";
	left: -73px;
	top: -199px;
	width: 1px;
	height: 699px;
	background-color: rgba(255, 255, 255, 0.2);
}

.header__timing::before {
	position: absolute;
	content: "";
	right: 1144px;
	top: -199px;
	width: 1px;
	height: 699px;
	background-color: rgba(255, 255, 255, 0.2);
}

.header__timing p {
	margin-left: 126px;
}

.header__social {
	width: 220px;
}

h1 {
	height: 143px;
	text-transform: uppercase;
}

.header__main-small-title {
	padding-left: 8px;
}

h1 span:nth-of-type(2) {
	display: block;
	margin-top: 56px;
	font-size: 96px;
	font-family: "Banny";
	font-weight: 300;
	letter-spacing: 0.5px;
}

.header__social-list {
	padding-left: 80px;
	padding-top: 28px;
}

.social-list__item {
	width: 100px;
	height: 80px;
}

.social-list__link {
	display: block;
	width: 62px;
	height: 62px;
	background-repeat: no-repeat;
	background-size: contain;
}

.social-list__link--facebook {
	background-image: url("img/icon-facebook.svg");
}

.social-list__link--twitter {
	background-image: url("img/icon-twitter.svg");
}

.social-list__link--instagram {
	background-image: url("img/icon-instagram.svg");
}

.header__main-buttons-wrapper {
	display: flex;
	width: 440px;
	justify-content: space-between;
	margin: 32px auto auto;
}

.header__main-button {
	box-sizing: border-box;
	display: block;
	width: 200px;
	height: 60px;
	padding: 18px 0;
	font-size: 11px;
	line-height: 21px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 5px;
}

.header__main-button--booking {
	background-color: #e8c300;
}

.header__main-button--explore {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.header__main-skip {
	position: relative;
	width: 62px;
	height: 62px;
	margin-top: 82px;
	padding: 10px;
	background-image: url("img/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-clip: content-box;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.header__main-skip::before {
	position: absolute;
	content: "";
	bottom: 58px;
	left: 28px;
	width: 1px;
	height: 454px;
	background-color: rgba(255, 255, 255, 0.2);
}

.header__main-skip::after {
	position: absolute;
	content: "";
	top: 61px;
	left: 28px;
	width: 1px;
	height: 82px;
	background-color: rgba(255, 255, 255, 0.2);
}

.header__main-yellow-line {
	margin: 0 auto;
}

/*About us*/

.about {
	min-height: 475px;
	margin: 50px 0 45px;
	display: flex;
	background-color: #ffffff;
}

.about__title {
	margin-bottom: 10px;
	margin-left: 20px;
}

.about__text {
	text-align: center;
	width: 600px;
}

.about__text.subtitle {
	margin-top: 11px;
	margin-bottom: 20px;
}

.about__description {
	width: 632px;
	padding-top: 135px;
}

.about__image {
	position: relative;
}

.about__image-yellow-square {
	top: 163px;
	left: 398px;
}

.about__yellow-line {
	margin-left: 298px;
}

/*Team*/

.team {
	min-height: 673px;
	background-color: #000000;
	background-image: url("img/master-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.team .container {
	display: flex;
	flex-wrap: wrap;
}

.team__main-title {
	width: 100%;
	text-align: center;
	padding-top: 32px;
	margin-bottom: 42px;
}

.team__text {
	color: #ffffff;
}

.team__image {
	position: relative;
	margin-left: 112px;
	margin-right: 72px;
	z-index: 0
}

.team__image img {
	border-radius: 5px;
}

.team__description {
	position: relative;
	padding-top: 80px;
}

.team__description-title {
	color: #ffffff;
	margin-bottom: 10px;
}

.team__image-yellow-square {
	bottom: 118px;
	left: -113px;
}

.team__yellow-line {
	margin: 0 auto;
}

.team__text.subtitle {
	margin-top: 11px;
	margin-bottom: 20px;
}

.team__text {
	width: 600px;
	text-align: center;
}

.team__image::before {
	position: absolute;
	content: "";
	top: -99px;
	left: 102px;
	width: 1px;
	height: 675px;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: -1;
}

.team__description::before {
	position: absolute;
	content: "";
	top: -97px;
	left: -20px;
	width: 1px;
	height: 675px;
	background-color: rgba(255, 255, 255, 0.2);
}

.team__description::after {
	position: absolute;
	content: "";
	top: -97px;
	right: 194px;
	width: 1px;
	height: 675px;
	background-color: rgba(255, 255, 255, 0.2);
}

/*Booking*/

.booking {
	min-height: 575px;
	background-color: #ffffff;
}

.booking .container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}

.booking__form-wrapper {
	width: 565px;
	padding-top: 82px;
	margin-left: 55px;
}

.booking__title {
	margin-bottom: 9px;
}

.booking__timing {
	width: 100%;
	margin-top: -11px;
	margin-bottom: 42px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #333333;
	opacity: 0.5;
}

.booking__timing span {
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-weight: 700;
	opacity: 1;
}

.booking__image {
	position: relative;
	margin-left: 22px;
}

.booking__image-yellow-square.yellow-square {
	top: 176px;
	left: 412px;
	width: 226px;
	height: 226px;
}

.booking__yellow-line {
	margin: 0 auto;
}

.form {
	margin: 20px auto auto;
	width: 565px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form__field {
	box-sizing: border-box;
	font-size: 12px;
	line-height: 20px;
	width: 277px;
	height: 60px;
	padding: 20px;
	background-color: #e5e5e5;
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
	outline: none;
}

.form__field::placeholder {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 100%;
	color: rgba(51, 51, 51, 0.5);
}

select {
	font-family: "Open Sans", "Arial", sans-serif;
	line-height: 100%;
	color: rgba(51, 51, 51, 0.5);
}

select.form__field {
	padding: 10px 15px;
	font-size: 14px;
}

.form__field--submit {
	background-color: #e8c300;
	width: 100%;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.form__field-wrapper {
	position: relative;
}

.form__field-arrow {
	position: absolute;
	top: 0;
	left: 221px;
	display: inline-block;
	background-color: #e5e5e5;
	width: 56px;
	height: 61px;
	background-image: url("img/arrow-down-select.svg");
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
}

/*Specialties*/

.specialties {
	min-height: 675px;
	background-color: #000000;
	background-image: url("img/specialties-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.specialties .container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 34px;
}

.specialties__main-title {
	width: 100%;
	margin-bottom: 42px;
	text-align: center;
	padding-left: 10px;
}

.specialties__image {
	position: relative;
	margin-left: 125px;
	margin-right: 80px;
	z-index: 0;
}

.specialties__image img {
	border-radius: 5px;
}

.specialties__image::before {
	position: absolute;
	content: "";
	top: -100px;
	left: 89px;
	width: 1px;
	height: 675px;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: -1;
}

.specialties__yellow-square {
	top: 107px;
	left: -124px;
	height: 261px;
}

.specialties__text {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #ffffff;
	text-align: center;
}

.specialties__title {
	margin-bottom: 10px;
	color: #ffffff;
	letter-spacing: 0.3px;
}

.specialties__description {
	position: relative;
	width: 600px;
	padding-top: 80px;
}

.specialties__description::before {
	position: absolute;
	content: "";
	top: -100px;
	left: -39px;
	width: 1px;
	height: 675px;
	background-color: rgba(255, 255, 255, 0.2);
}

.specialties__description::after {
	position: absolute;
	content: "";
	top: -100px;
	left: 384px;
	width: 1px;
	height: 675px;
	background-color: rgba(255, 255, 255, 0.2);
}

.specialties__yellow-line.yellow-line {
	margin: 0 auto;
	width: 62px;
}

.specialties__slider-buttons {
	margin-left: 606px;
	margin-right: 570px;
	margin-top: 31px;
}

.slider-button {
	display: inline-block;
	margin-right: 17px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
}

.slider-button--active {
	background-color: rgba(255, 255, 255, 1);
}

/*Menu*/

.menu {
	min-height: 720px;
	background-color: #ffffff;
	padding-top: 69px;
}

.menu__title {
	margin-bottom: 10px;
	letter-spacing: 0.4px;
}

.menu__yellow-line {
	margin: 0 auto;
}

.menu__description {
	width: 550px;
	margin: 20px auto 48px;
}

.menu__sections {
	padding: 0;
	margin: 0 auto;
	width: 840px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.menu__sections-item {
	width: 120px;
	height: 50px;
	box-sizing: border-box;
	padding-top: 18px;
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 700;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.menu__sections-item:last-child {
	border-right: none;
}

.menu__list {
	margin: 54px 0 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu__list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__list-item {
	width: 372px;
	height: 66px;
	font-family: "Banny", "Arial", sans-serif;
	font-size: 18px;
	line-height: 16px;
	font-weight: 700;
	letter-spacing: 0.1px;
}

.menu__list-description {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 12px;
	opacity: 0.5;
	color: #333333;
	letter-spacing: 0px;
}

.menu__list-points {
	display: inline-block;
	margin-left: 4px;
	margin-right: 8px;
	letter-spacing: 0.5px;
}

/*Events*/

.events {
	min-height: 675px;
	margin-top: 68px;
	background-color: #000000;
	background-image: url("img/specialties-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.events .container {
	display: flex;
	flex-wrap: wrap;
}

.events__image {
	position: relative;
	z-index: 0;
}

.events__image--weddings {
	margin-left: 124px;
	margin-right: 82px;
}

.events__image::after {
	position: absolute;
	content: "";
	top: -100px;
	height: 675px;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: -1;
}

.events__image--weddings::after {
	left: 90px;
}

.events__image--corporate::after {
	left: 383px;
}

.events__image--weddings::before {
	position: absolute;
	content: "";
	top: -100px;
	left: 515px;
	width: 1px;
	height: 675px;
	background-color: rgba(255, 255, 255, 0.2);
}

.events__image img {
	border-radius: 5px;
}

.events__title {
	width: 100%;
	padding-top: 34px;
	margin-bottom: 42px;
	text-align: center;
}

.events__info {
	margin-top: 37px;
	width: 100%;
	font-size: 12px;
	line-height: 12px;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
}

.events__info span {
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-weight: 700;
}

.events__image-title {
	position: absolute;
	box-sizing: border-box;
	width: 80px;
	height: 475px;
	background-color: #000000;
	color: #ffffff;
	writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	font-family: "Banny", "Arial", sans-serif;
	font-size: 24px;
	line-height: 12px;
	text-transform: uppercase;
	padding: 20px 45px 0 35px;
}

.events__image-title--weddings {
	top: 0;
	right: -25px;
}

.events__image-title--corporate {
	transform: rotate(180deg);
	top: 0;
	left: -25px;
}

.events__image--weddings .yellow-square {
	top: 113px;
	left: -125px;
}

.events__image--corporate .yellow-square {
	top: 114px;
	right: -125px;
}

/*Gallery*/

.gallery {
	min-height: 360px;
	display: flex;
	flex-wrap: wrap;
}

/*Contact*/

.contact {
	min-height: 447px;
	margin-top: 100px;
	margin-bottom: 0;
	background-color: #ffffff;
}

.contact__title {
	margin-bottom: 8px;
}

.contact__yellow-line {
	margin: 0 auto;
}

.contact__description {
	width: 565px;
	margin: 23px auto 0;
}

.contact__form {
	display: flex;
	flex-wrap: wrap;
	margin-top: 48px;
}

.contact__form textarea {
	width: 100%;
	min-height: 120px;
	resize: none;
}

.contact__form textarea::placeholder {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
}

.contact__form-field {
	box-sizing: border-box;
	width: 420px;
	height: 60px;
	padding: 19px 21px;
	border-radius: 5px;
	background-color: #e5e5e5;
	border: none;
	margin-bottom: 10px;
	font-size: 14px;
}

.contact input[type="text"], .contact input[type="email"] {
	margin-right: 10px;
}

.contact__form-field::placeholder {
	color: #333333;
	opacity: 0.5;
}

.contact__form-info {
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-size: 12px;
	line-height: 36px;
	font-weight: 700;
	color: #333333;
}

.contact__form-info span {
	opacity: 0.5;
}

.contact__form-field--submit {
	width: 640px;
	margin-left: 48px;
	background-color: #e8c300;
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}

.contact__map {
	width: 100%;
	margin-top: 89px;
}

/*Footer*/

.footer {
	min-height: 100px;
	box-sizing: border-box;
	margin-top: -8px;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.9);
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	padding-top: 28px;
}

.footer__info span {
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-weight: 700;
}
